In [1]:
import numpy as np
import pandas as pd

In [2]:
edge_data = pd.read_csv('Edge_Data.csv', index_col = [0])

In [3]:
edge_length = len(edge_data)

In [4]:
highways = set()

for i in range(edge_length):
    highways.add(edge_data.at[i, 'highway'])
    
print(highways)

{'secondary', 'pedestrian', 'proposed', 'steps', 'primary_link', 'living_street', 'unclassified', 'tertiary', 'cycleway', 'residential', 'path', 'footway', 'platform', 'service', 'secondary_link', 'tertiary_link', 'primary', 'track'}

In [5]:
mx = 0

for i in range(edge_length):
    if mx < edge_data.at[i, 'light_count']:
        mx = edge_data.at[i, 'light_count']

print(mx)

30

In [6]:
mx = 0

for i in range(edge_length):
    if mx < edge_data.at[i, 'crime_count']:
        mx = edge_data.at[i, 'crime_count']

print(mx)

105

In [7]:
mx = 0

for i in range(edge_length):
    if mx < edge_data.at[i, 'crime_count']:
        mx = edge_data.at[i, 'crime_count']

print(mx)

105

In [8]:
edge_data = edge_data.sort_values(by = 'crime_count', ascending = False)

display(edge_data)

,name,start_id,end_id,highway,crime_count,light_count,component,start_lat,start_lon,end_lat,end_lon,distance
10930,NaN,2086667338,370473556,footway,105,0,0,37.858307,-122.268082,37.858362,-122.268061,21.108089
10983,NaN,2086667326,2086667338,footway,105,4,0,37.857474,-122.268374,37.858307,-122.268082,315.669843
9688,Adeline Street,275782472,275782464,secondary,105,0,0,37.858388,-122.267901,37.857441,-122.268261,361.199566
6643,Shattuck Avenue,240448958,53096083,secondary,87,16,0,37.872101,-122.268408,37.871173,-122.268292,340.428027
18006,Shattuck Avenue,53096083,4240962990,secondary,78,0,0,37.871173,-122.268292,37.871100,-122.268283,26.792258
...,...,...,...,...,...,...,...,...,...,...,...,...
7178,Fresno Avenue,317110207,3687445762,residential,0,2,0,37.890565,-122.278004,37.889313,-122.277753,463.033068
7177,Fresno Avenue,317110207,266716296,residential,0,0,0,37.890565,-122.278004,37.890694,-122.278030,47.583422
7176,Henry Street,4238980135,53059845,secondary,0,0,0,37.883622,-122.270947,37.883683,-122.270954,22.621365
7174,Henry Street,56006250,7739118627,secondary,0,2,0,37.882384,-122.270764,37.882854,-122.270860,173.912710
20186,Stratford Road,8923217172,57885421,residential,0,0,0,37.903443,-122.284531,37.903583,-122.284190,110.879893

In [9]:
edge_data = edge_data.sort_values(by = 'light_count', ascending = False)

display(edge_data)

,name,start_id,end_id,highway,crime_count,light_count,component,start_lat,start_lon,end_lat,end_lon,distance
7813,NaN,53021416,361213704,footway,0,30,0,37.862908,-122.317472,37.862847,-122.317644,54.279227
11475,University Avenue,258758045,2131737581,secondary,0,16,0,37.866952,-122.302625,37.867555,-122.299653,884.333263
6643,Shattuck Avenue,240448958,53096083,secondary,87,16,0,37.872101,-122.268408,37.871173,-122.268292,340.428027
16651,Alcatraz Avenue,53126429,92951404,tertiary,5,16,0,37.848161,-122.275834,37.848456,-122.273606,651.295019
5501,University Avenue,2131737582,52987320,secondary,0,15,0,37.867632,-122.299679,37.866995,-122.302833,938.459711
...,...,...,...,...,...,...,...,...,...,...,...,...
19437,NaN,8436435708,8436435709,footway,0,0,0,37.867831,-122.255635,37.867836,-122.255605,9.100323
19436,NaN,8436435713,8436435714,footway,0,0,0,37.867928,-122.254866,37.867945,-122.254769,28.695637
19435,NaN,8436435736,8436435713,footway,0,0,0,37.867909,-122.254947,37.867928,-122.254866,24.287866
19434,NaN,8436435729,8436435736,footway,0,0,0,37.867870,-122.255191,37.867909,-122.254947,71.753866
20186,Stratford Road,8923217172,57885421,residential,0,0,0,37.903443,-122.284531,37.903583,-122.284190,110.879893

In [10]:
edge_data = edge_data.sort_values(by = 'distance', ascending = False)

display(edge_data)

,name,start_id,end_id,highway,crime_count,light_count,component,start_lat,start_lon,end_lat,end_lon,distance
3879,Bay Trail,86333355,310477354,cycleway,0,0,0,37.864460,-122.303586,37.850407,-122.300197,5224.675971
16757,San Pablo Dam Road,2581974892,345512118,secondary,0,0,-1,37.922880,-122.248255,37.914278,-122.234220,5122.539809
1593,West Bolivar Drive,779031011,53055362,service,0,0,0,37.851311,-122.299062,37.864222,-122.302673,4829.046690
2387,West Frontage Road,53143415,290107009,tertiary,0,0,0,37.864559,-122.303549,37.852099,-122.300026,4662.312636
16753,San Pablo Dam Road,8476546806,345512094,secondary,0,0,-1,37.940528,-122.261364,37.929891,-122.254752,4327.444477
...,...,...,...,...,...,...,...,...,...,...,...,...
19773,NaN,8451378166,8451378239,footway,0,0,0,37.871386,-122.258069,37.871384,-122.258064,1.650187
17694,Great Stoneface Path,6550874851,6550874852,steps,0,0,0,37.896697,-122.277865,37.896693,-122.277863,1.515911
47,Clark Kerr Trail,34351151,2532688222,path,0,0,0,37.866235,-122.243472,37.866239,-122.243473,1.398553
19164,Sherwood Forest,7949065705,7949065699,path,0,0,-1,37.871138,-122.238637,37.871137,-122.238641,1.282418
19512,NaN,8436435785,8436435787,footway,0,0,0,37.869752,-122.252064,37.869753,-122.252060,1.224445