In [1]:
import numpy as np
import pandas as pd

In [2]:
edge_data = pd.read_csv('Edge_Data.csv', index_col = [0])

In [3]:
edge_length = len(edge_data)

In [4]:
highways = set()

for i in range(edge_length):
    highways.add(edge_data.at[i, 'highway'])
    
print(highways)

{'living_street', 'platform', 'tertiary', 'track', 'pedestrian', 'secondary_link', 'primary_link', 'residential', 'unclassified', 'proposed', 'path', 'tertiary_link', 'primary', 'secondary', 'footway', 'service', 'steps'}

In [5]:
mx = 0

for i in range(edge_length):
    if mx < edge_data.at[i, 'light_count']:
        mx = edge_data.at[i, 'light_count']

print(mx)

30

In [6]:
mx = 0

for i in range(edge_length):
    if mx < edge_data.at[i, 'crime_count']:
        mx = edge_data.at[i, 'crime_count']

print(mx)

105

In [7]:
mx = 0

for i in range(edge_length):
    if mx < edge_data.at[i, 'light_count'] / edge_data.at[i, 'distance']:
        mx = edge_data.at[i, 'light_count'] / edge_data.at[i, 'distance']

print(mx)

0.5526976310907106

In [8]:
edge_data = edge_data.sort_values(by = 'crime_count', ascending = False)

display(edge_data)

,name,start_id,end_id,highway,crime_count,light_count,component,start_lat,start_lon,end_lat,end_lon,distance
10346,NaN,2086667326,2086667338,footway,105,4,0,37.857474,-122.268374,37.858307,-122.268082,315.669843
9090,Adeline Street,275782472,275782464,secondary,105,0,0,37.858388,-122.267901,37.857441,-122.268261,361.199566
10293,NaN,2086667338,370473556,footway,105,0,0,37.858307,-122.268082,37.858362,-122.268061,21.108089
6259,Shattuck Avenue,240448958,53096083,secondary,87,16,0,37.872101,-122.268408,37.871173,-122.268292,340.428027
17120,Shattuck Avenue,53096083,4240962990,secondary,78,0,0,37.871173,-122.268292,37.871100,-122.268283,26.792258
...,...,...,...,...,...,...,...,...,...,...,...,...
6872,NaN,354683927,354118419,footway,0,0,-1,37.885300,-122.263083,37.885309,-122.263133,14.896184
6873,NaN,354108298,354107214,footway,0,0,-1,37.885567,-122.263624,37.885517,-122.263325,88.084431
6874,NaN,354107214,354107216,footway,0,0,-1,37.885517,-122.263325,37.885386,-122.263252,52.244958
6875,NaN,354107216,354107190,footway,0,0,-1,37.885386,-122.263252,37.885284,-122.263276,37.939894
19224,Stratford Road,8923217172,57885421,residential,0,0,0,37.903443,-122.284531,37.903583,-122.284190,110.879893

In [9]:
edge_data = edge_data.sort_values(by = 'light_count', ascending = False)

display(edge_data)

,name,start_id,end_id,highway,crime_count,light_count,component,start_lat,start_lon,end_lat,end_lon,distance
7297,NaN,53021416,361213704,footway,0,30,0,37.862908,-122.317472,37.862847,-122.317644,54.279227
12044,Allston Way,2420456628,57066388,residential,10,18,0,37.869018,-122.270824,37.868789,-122.272701,547.566796
632,Berkeley Way,53042645,53042648,residential,2,17,0,37.870405,-122.288136,37.870883,-122.284396,1092.398194
15783,Alcatraz Avenue,53126429,92951404,tertiary,5,16,0,37.848161,-122.275834,37.848456,-122.273606,651.295019
6259,Shattuck Avenue,240448958,53096083,secondary,87,16,0,37.872101,-122.268408,37.871173,-122.268292,340.428027
...,...,...,...,...,...,...,...,...,...,...,...,...
17710,NaN,7343303224,7343303225,path,0,0,0,37.897761,-122.240356,37.897858,-122.240301,39.025807
17709,NaN,7343303222,7343303224,path,0,0,0,37.897754,-122.240409,37.897761,-122.240356,15.582742
17708,NaN,7343303219,7343303222,path,0,0,0,37.897676,-122.240501,37.897754,-122.240409,38.884182
17707,NaN,7343303217,7343303219,path,0,0,0,37.897676,-122.240561,37.897676,-122.240501,17.382933
19224,Stratford Road,8923217172,57885421,residential,0,0,0,37.903443,-122.284531,37.903583,-122.284190,110.879893

In [10]:
edge_data = edge_data.sort_values(by = 'distance', ascending = False)

display(edge_data)

,name,start_id,end_id,highway,crime_count,light_count,component,start_lat,start_lon,end_lat,end_lon,distance
15889,San Pablo Dam Road,2581974892,345512118,secondary,0,0,-1,37.922880,-122.248255,37.914278,-122.234220,5122.539809
1559,West Bolivar Drive,779031011,53055362,service,0,9,0,37.851311,-122.299062,37.864222,-122.302673,4829.046690
2336,West Frontage Road,53143415,290107009,tertiary,0,7,0,37.864559,-122.303549,37.852099,-122.300026,4662.312636
15885,San Pablo Dam Road,8476546806,345512094,secondary,0,0,-1,37.940528,-122.261364,37.929891,-122.254752,4327.444477
15891,San Pablo Dam Road,2581954907,3340517069,secondary,0,0,-1,37.910817,-122.233448,37.905172,-122.225614,3058.033448
...,...,...,...,...,...,...,...,...,...,...,...,...
18812,NaN,8451378166,8451378239,footway,0,0,0,37.871386,-122.258069,37.871384,-122.258064,1.650187
16811,Great Stoneface Path,6550874851,6550874852,steps,0,0,0,37.896697,-122.277865,37.896693,-122.277863,1.515911
47,Clark Kerr Trail,34351151,2532688222,path,0,0,0,37.866235,-122.243472,37.866239,-122.243473,1.398553
18227,Sherwood Forest,7949065705,7949065699,path,0,0,-1,37.871138,-122.238637,37.871137,-122.238641,1.282418
18566,NaN,8436435785,8436435787,footway,0,0,0,37.869752,-122.252064,37.869753,-122.252060,1.224445