In [1]:
import numpy as np
import pandas as pd

In [2]:
edge_data = pd.read_csv('Edge_Data.csv', index_col = [0])

In [3]:
edge_length = len(edge_data)

In [4]:
mx = 0

for i in range(edge_length):
    if mx < edge_data.at[i, 'light_count']:
        mx = edge_data.at[i, 'light_count']

print(mx)

30

In [5]:
mx = 0

for i in range(edge_length):
    if mx < edge_data.at[i, 'crime_count']:
        mx = edge_data.at[i, 'crime_count']

print(mx)

105

In [6]:
mx = 0

for i in range(edge_length):
    if mx < edge_data.at[i, 'crime_count']:
        mx = edge_data.at[i, 'crime_count']

print(mx)

105

In [7]:
edge_data = edge_data.sort_values(by = 'crime_count', ascending = False)

display(edge_data)

,name,start_id,end_id,highway,crime_count,tree_count,light_count,business_count,signal_count,pavement_width,...,tree_ratio,light_ratio,business_ratio,signal_ratio,region,distance,start_lat,start_lon,end_lat,end_lon
11665,Adeline Street,275782472,4044850417,secondary,105,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8,238.769809,37.858388,-122.267901,37.857763,-122.268143
13457,NaN,2086667338,370473556,footway,105,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8,21.108089,37.858307,-122.268082,37.858362,-122.268061
13513,NaN,4044850416,2086667338,footway,105,5,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8,196.496671,37.857789,-122.268269,37.858307,-122.268082
7662,Shattuck Avenue,240448958,53096083,secondary,87,13,16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13,340.428027,37.872101,-122.268408,37.871173,-122.268292
24423,Shattuck Avenue,53096083,4240962990,secondary,78,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13,26.792258,37.871173,-122.268292,37.871100,-122.268283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9805,Addison Street,4070600859,2146034332,residential,0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12,20.786643,37.870684,-122.272145,37.870693,-122.272074
9802,NaN,539177686,539177687,footway,0,3,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18,34.343689,37.892091,-122.263882,37.892082,-122.264001
9801,NaN,539177707,539177686,footway,0,18,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18,243.460011,37.892725,-122.263619,37.892091,-122.263882
9800,NaN,4311835251,2195327627,service,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8,61.198317,37.863127,-122.270484,37.863101,-122.270694
27902,Tamalpais Road,59942476,53142547,residential,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18,75.788708,37.883823,-122.259941,37.884019,-122.259858

In [8]:
edge_data = edge_data.sort_values(by = 'light_count', ascending = False)

display(edge_data)

,name,start_id,end_id,highway,crime_count,tree_count,light_count,business_count,signal_count,pavement_width,...,tree_ratio,light_ratio,business_ratio,signal_ratio,region,distance,start_lat,start_lon,end_lat,end_lon
8947,Berkeley Pier,361213704,53021418,path,0,0,30,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5,2950.346361,37.862847,-122.317644,37.859576,-122.327003
7662,Shattuck Avenue,240448958,53096083,secondary,87,13,16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13,340.428027,37.872101,-122.268408,37.871173,-122.268292
6248,University Avenue,2131737582,52987320,secondary,0,0,15,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6,938.459711,37.867632,-122.299679,37.866995,-122.302833
14133,University Avenue,258758045,2131737581,secondary,0,0,15,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6,884.333263,37.866952,-122.302625,37.867555,-122.299653
22560,Alcatraz Avenue,53077537,53126424,tertiary,1,18,12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,515.738918,37.847429,-122.281337,37.847662,-122.279572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26182,NaN,8395357172,2956597612,footway,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13,13.026242,37.873904,-122.258327,37.873938,-122.258342
26183,NaN,8395357172,8395357173,footway,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13,12.519398,37.873904,-122.258327,37.873913,-122.258285
26184,NaN,8395357174,8395357175,footway,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13,6.108897,37.874403,-122.258626,37.874407,-122.258605
26185,NaN,2677970450,8395357167,footway,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13,31.524444,37.874119,-122.258299,37.874037,-122.258268
27902,Tamalpais Road,59942476,53142547,residential,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18,75.788708,37.883823,-122.259941,37.884019,-122.259858

In [9]:
edge_data = edge_data.sort_values(by = 'distance', ascending = False)

display(edge_data)

,name,start_id,end_id,highway,crime_count,tree_count,light_count,business_count,signal_count,pavement_width,...,tree_ratio,light_ratio,business_ratio,signal_ratio,region,distance,start_lat,start_lon,end_lat,end_lon
27346,Bay Trail,86333355,310477354,cycleway,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,5224.675971,37.864460,-122.303586,37.850407,-122.300197
4406,Bay Trail,86333355,310477354,cycleway,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6,5224.675971,37.864460,-122.303586,37.850407,-122.300197
22697,San Pablo Dam Road,2581974892,345512118,secondary,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24,5122.539809,37.922880,-122.248255,37.914278,-122.234220
1770,West Bolivar Drive,779031011,53055362,service,0,79,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,4829.046690,37.851311,-122.299062,37.864222,-122.302673
27230,West Bolivar Drive,779031011,53055362,service,0,79,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6,4829.046690,37.851311,-122.299062,37.864222,-122.302673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24008,Great Stoneface Path,6550874851,6550874852,steps,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,17,1.515911,37.896697,-122.277865,37.896693,-122.277863
54,Clark Kerr Trail,34351151,2532688222,path,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9,1.398553,37.866235,-122.243472,37.866239,-122.243473
26029,Sherwood Forest,7949065705,7949065699,path,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14,1.282418,37.871138,-122.238637,37.871137,-122.238641
26411,NaN,8436435785,8436435787,footway,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8,1.224445,37.869752,-122.252064,37.869753,-122.252060
25731,NaN,7785698661,59942885,unclassified,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14,0.566375,37.876809,-122.247506,37.876808,-122.247505